{% load i18n %}
{% load tz %}
<!-- A single blog post -->
<article class="post pure-u-1">
    <header class="post-header">
        <h2 class="post-title pure-u-1">{{ obj.title }}</h2>
        <p class="post-meta pure-u-1">
            By <a href="#" class="post-author">{{ obj.author }}</a> under <a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a>
        </p>
    </header>
    <div class="post-description pure-u-1">
        {% block body %}
            {{ obj.body|safe }}
        {% endblock body %}
        </p>
    </div>
</article>

