{% load i18n %}
{% load tz %}

<article class="poste-post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h2><time itemprop="datePublished" datetime="{{ obj.pub_date|utc|date:"Y\-m\-d" }}">{{ obj.pub_date|utc|date:"l, d N, Y" }}</time></h2>
        <h3 itemprop="headline"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></h3>
    </header>

    <div class="body" itemprop="articleBody">
        {% block body %}
            {{ obj.body|safe }}
        {% endblock body %}
    </div>
    
    <footer>
        {% block footer %}
            <p itemscope itemtype="http://schema.org/Person">
                {% trans "Author:" %} <span itemprop="name">{{ obj.author }}</span>
            </p>
        {% endblock footer %}
    </footer>
</article>