{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>PostE</title>
        
        <meta name="description" content="PostE - Post Extensible">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{% get_static_prefix %}poste/css/normalize.css">
        <link rel="stylesheet" href="{% get_static_prefix %}poste/css/main.css">
        <link rel="stylesheet" href="{% get_static_prefix %}poste/css/base.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <header id="main-header">
                {% block main-header %}
                    <h1>PostE</h1>
                {% endblock main-header %}
            </header>

            <div id="col-left">{% block col_left %}{% endblock %}</div>

            <div id="col-right">{% block col_right %}{% endblock %}</div>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
